body {
    margin: 0;
}

.section-1 .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em 2em 1em 2em;
    border-bottom: 1px solid;
    font-size: 15px;
} 

.section-1 .sect-1 {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section-2 .sect-1 .dropdown {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.dropdown span {
    color: #21A8E1;
}

input {
    width: 90%;
    padding: .3em .7em .3em 2em;
}

.search-container form {
    display: flex;
}
.search-container form span {
    position: absolute;
    border: none;
    color: #817f7f;
    padding: .2em 0 0 .3em;
    font-size: 20px;
 }

.section-1 .sect-1 button {
    border: none;
    text-decoration: none;
    outline: none;
    font-size: 15px;
    background-color: white;
    padding: 1em  0;
}

.section-1 .sect-1 button:hover {
    outline: none;

    background-color: white;
    color: #21A8E1;
    border-bottom:2px solid rgb(54, 212, 54) ;
}

.section-1 .sect-2 {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section-2 .sect-2 .header{ 
    font-size: 15px;
    color: gray;
}

.section-1 .sect-2 .budget {
    background-color: #21A8E1;
    font-size: 0px;
    border-radius: 50px;
}

.budget img {
    resize: auto;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding : 6px 5px 7px 5px;
}

.proceed {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    background-color: #21A8E1;
    align-items: center;
    color: white;
    font-size: 15px;
    width: 103px;
    height: 29px;
}

.section-2 {
    display: flex;
    flex-direction: row;
}

.section-2 .sect-1 {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding: 2em ;
}

.section-2 .container {
    margin: 0 0 10px 0;
    color: #21A8E1;
    font-size:17px;
}

.section-2 .header {
    display: flex;
    flex-direction: row;
    padding: 0 2em 2em 0;
    justify-content: space-between;
    width: 100%;
}

.section-2 .sect-2 {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-left: 1px solid #202020;
}

.header .search {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.section-2 .boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    
}

.box1 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00000026;
    border-radius: 10px;
    opacity: 1;
}

.box1 .add {
    width: 280px;
    height: 132px;
    background-color: #21A8E1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.box1 .add .text {
    color: white;
    font-size: 1.3em;
}

.box1 .add button {
    text-decoration: none;
    color: white;
    border: none;
    outline: none;
    border-radius: 50%;
}

.box1 .add button span {
    color: #21A8E1;
    display: flex;
    align-items: center;
    font-size: 3em;
}

.boxes .box {
    width: 280px;
    height: 280px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00000026;
    border-radius: 10px;
    opacity: 1;
}



.down1,.down2,.down3,.down4 {
    display: none;
}

.downn {
    display: block;
}

.form {
    display: flex;
    flex-direction: row;
}

.form form {
    display: flex;
    flex-direction: column;
    padding: .5em 1em .5em 0;
}

input[type='checkbox'] {
    width: auto;
    margin: 0 1em 0 0;
}

.search span {
    color: #21A8E1;
    border: 1px solid #21A8E1;
    border-radius: 50%;
    font-size: 20px;
}

.btn {
    display: flex;
    justify-content: space-between;
    padding: .5em 0em ;
}

.btn :nth-child(1) {
    border: 1px solid #21A8E1;
    color: #21A8E1;
    width: 40%;
    background-color: white;
    padding: .5em 0em;
    border-radius: 5px;

}

.btn :nth-child(2) {
    border: none;
    color: white;
    width: 40%;
    background-color: #21A8E1;
    padding: .5em 0em;
    border-radius: 5px;

}


.images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .75em;
    /* background-color: yellow; */
    height: 65%;
    border-radius: 10px;
    background-color: #d6ecf6;
    border-radius: 7px;
}

.img2 {
    background-color: #f1d9cf;
}

.box img {
    width: 185px;
    height: 148px;
    opacity: 1 !important; 
}
.box .div1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 .75em;
}

.span {
    padding: 0 .75em;
    font-size: 15px;
    color: gray;
}

.box .div1 .span2 {
    border: none;
    color: white;
    background-color: #21A8E1;
    border-radius: 50%;
    cursor: pointer;
}

.box .div1 .span1 {
    border: 2px solid #21A8E1;
    color: #21A8E1;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}